.is-hidden {
    display: none;
}

.show-on-mobile {
    display: none;
}

@media (max-width: 414px) {
    .show-on-mobile {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}